extends ../layouts/default-layout.pug

block title
    title Trang chủ

block main 
    +section("banner")
        .banner-container.container
            .row.align-items-center
                .col-lg-6.text-center
                    img.w-50(src="../assets/images/banner/logo-banner.png" alt="logo-banner")
                    h1.title.text-viceroy.text-primary.text-capitalize.p-0.m-0 green vera
                    p.p-0.m-0 Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
                    p.subtitle.text-primary.p-0.m-0 Giá chỉ 750.000 đ
                    a.text-uppercase.text-black.text-decoration-underline.p-0.m-0(href="/") mua hàng

    +section("services", "py-8")
        .container 
            .row
                each serviceItem in serviceItems 
                    - const {icon, text, border } = serviceItem
                    if(!border)
                        .service-items.col-lg-4.col-md-4.col-sm-4.col-12
                            i.fa(class=icon)
                            p.white-space-nowrap.font-size-14= text
                    else 
                        .service-items.col-lg-4.col-md-4.col-sm-4.col-12.services-border-right
                            i.fa(class=icon)
                            p.white-space-nowrap.font-size-14= text

    +section("static-blog")
        .container 
            .row.pb-2
                .col-lg-6.col-md-6.col-sm-12.col-12
                    .row
                        .static-blog-item.col-6.p-2
                            img.static-blog-img(src="../assets/images/static-blog/img-4.png" alt="img-4")
                        .static-blog-item.col-6.p-2
                            .static-blog-item-1.position-relative
                                .static-blog-container.text-center
                                    p.text-uppercase.text-white.m-0 sữa tắm
                                    +underline-custom("bg-light") 
                        .static-blog-item.col-6.p-2
                            .static-blog-item-2.position-relative
                                .static-blog-container.text-center
                                    p.text-uppercase.m-0.text-black nước hoa
                                    +underline-custom("bg-dark")
                        .static-blog-item.col-6.p-2
                            .static-blog-container.position-relative.h-100.p-0
                                img.static-blog-img(src="../assets/images/static-blog/img-5.png" alt="img-5")
                                .div-center.text-center
                                    span.white-space-nowrap.font-size-14.fw-bold Từ 1/6 - 5/6/2015
                                    p.text-uppercase.fw-bolder.font-size-100 - 40%
                                    a.text-uppercase.text-primary.text-decoration-underline.font-size-16(href="/") mua hàng
                .col-lg-6.col-md-6.col-sm-12.col-12.p-2
                    img.static-blog-img-large(src="../assets/images/static-blog/img-8.png" alt="img-8")
            .row
                .col-lg-6.col-md-6.col-sm-12.col-12.p-2
                    img.static-blog-img-large(src="../assets/images/static-blog/img-2.png" alt="img-2")
                .col-lg-6.col-md-6.col-sm-12.col-12
                    .row
                        .static-blog-item.col-6.p-2
                            .static-blog-item-3.position-relative
                                .static-blog-container.text-center
                                    p.text-uppercase.m-0.text-black trang sức
                                    +underline-custom("bg-dark")
                        .static-blog-item.col-6.p-2
                            img.static-blog-img(src="../assets/images/static-blog/img-3.png" alt="img-3")
                        .static-blog-item.col-6.p-2
                            img.static-blog-img(src="../assets/images/static-blog/img-7.png" alt="img-7")
                        .static-blog-item.col-6.p-2
                            .static-blog-item-4
                                .static-blog-container.text-center                                 
                                    .div-center.text-center
                                        img.w-50px.mb-3(src="../assets/images/static-blog/img-6.png" alt="")
                                        p.text-thirsty.m-0 Quén dũ hơn
                                        p.d-flex.align-items-end
                                            small.me-2 cùng 
                                            span.text-uppercase.letter-spacing-lg.text-thirsty daisy

    +section("customer_reviews", "py-10")
        .container 
            .row
                .col-lg-6.p-0
                    #carouselCustomer.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators
                            li.active(data-target='#carouselCustomer' data-slide-to='0')
                            li(data-target='#carouselCustomer' data-slide-to='1')
                        .carousel-inner
                            .carousel-item.active
                                .w-100.d-block.customer_reviews-items
                                    .content-images.m-5
                                        img.img-customer-reviews-size(src="../assets/images/customer_reviews/img-1.png" alt="img-customer_reviews-1")
                                    .content-reviews 
                                        p " Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kì lạ với những ai cầm trên tay sản phẩm ấy! Với xông nghệ cải tiến mới nhất, hãng Rohto "
                                        p
                                            span.text-uppercase tutile - 
                                            i Giám đốc phát triển sản phẩm
                            .carousel-item
                                .w-100.d-block.customer_reviews-items
                                    .content-images.m-5
                                        img.img-customer-reviews-size(src="../assets/images/customer_reviews/img-2.png" alt="img-customer_reviews-1")
                                    .content-reviews 
                                        p " Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kì lạ với những ai cầm trên tay sản phẩm ấy! Với xông nghệ cải tiến mới nhất, hãng Rohto "
                                        p
                                            span.text-uppercase tutile - 
                                            i Giám đốc phát triển sản phẩm

    +section("product-list", "py-10")
        .container
            .row 
                .col-12
                    .tab-pill.text-center.d-flex.justify-content-center.align-items-end
                        p.text-muted.px-4.font-size-14.text-thirsty Sản phẩm mới
                        div
                            span.text-primary.text-thirsty.px-4.fw-bolder.font-size-16 Sản phẩm bán chạy
                            +underline-custom("bg-dark")
                        p.text-muted.px-4.font-size-14.text-thirsty Sản phẩm đặc biệt
        .container.pt-5 
            .row
                .col-12
                    .d-flex.justify-content-center
                        +categoryItems()
            #carouselExampleControls.carousel.slide.pt-10(data-ride='carousel')
                .carousel-inner
                    each slideItem in slideItems
                        - const { active, listItems } = slideItem
                        if(!active)
                            .carousel-item
                                .d-block.w-100.text-center
                                    .row.gx-4.justify-content-center
                                        each listItem in listItems
                                            +slideItems(listItem)
                        else 
                            .carousel-item.active
                                .d-block.w-100.text-center
                                    .row.gx-4.justify-content-center
                                        each listItem in listItems
                                            +slideItems(listItem)
            a.carousel-control-prev.text-black(href='#carouselExampleControls' role='button' data-slide='prev')
                span.carousel-control-icon.carousel-control-prev-icon.text-black(aria-hidden='true')
            a.carousel-control-next.text-black(href='#carouselExampleControls' role='button' data-slide='next')
                span.carousel-control-icon.carousel-control-next-icon.text-black(aria-hidden='true')

    +section("social", "py-8")
        .container 
            .row 
                each socialItem in socialItems 
                    - const { icon, name } = socialItem
                    .col-lg-2.col-md-2.col-sm-4.col-6.d-flex.align-items-center.justify-content-center.hover-primary-dark
                        .icon-before.me-2
                            i.fa.fa-(class=icon)
                        span.text-uppercase.fw-bolder= name

    +section("sna-footer", "py-5")
        .container
            .row.gx-8
                .col-lg-4.col-md-4.col-sm-12.col-12
                    div.text-center.pb-10
                        p.text-uppercase.text-black.fw-bolder về chúng tôi 
                        +underline-custom("bg-dark")
                    h4.text-uppercase.fw-bold giới thiệu chung về mỹ phẩm handmade mandala
                    span.font-size-16 Hi, chào các nàng, sau khá nhiều lời hứa hão thì tớ quay lại hâm nóng blog này. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
                .col-lg-4.col-md-4.col-sm-12.col-12
                    div.text-center.pb-10
                        p.text-uppercase.text-black.fw-bolder blog
                        +underline-custom("bg-dark")
                    img.w-100.mb-3(src="../assets/images/blog-img.png" alt="")
                    h4.text-uppercase.fw-bold review son sắt
                    span.font-size-16 Hi, chào các nàng, sau khá nhiều lời hứa hão thì tớ quay lại hâm nóng blog này. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
                .col-lg-4.col-md-4.col-sm-12.col-12
                    div.text-center.pb-10
                        p.text-uppercase.text-black.fw-bolder gửi email đi
                        +underline-custom("bg-dark")
                    .form-email.text-center
                        h5.mb-2 Gửi email 
                        span.font-size-14 để nhận những ưu đãi mới nhất
                        form.form-group
                            input.form-control.height-40(type="text" placeholder="Họ tên: *")
                        form.form-group
                            input.form-control.height-40(type="text" placeholder="Số điện thoại: *")
                        form.form-group
                            input.form-control.height-40(type="text" placeholder="Email: *")
                        button.btn-xs.button_custom.text-white.background-primary.border-none.btn.height-40
                            i.fa.fa-paper-plane.me-2
                            span.text-uppercase gửi email
                    div.text-center.py-4
                        p.text-uppercase.text-black.fw-bolder tag sản phẩm
                        +underline-custom("bg-dark")
                    +productTags()
