extends ../layouts/product-layout.pug

block product-theme
    .row
        each productItem in productItems
            - const { src, alt, brand_name, name, price, solds, rates, description, url } = productItem
            .product-item.col-12
                .row.align-items-center
                    .slide-item-img.position-relative.col-4
                        img(src=src, alt=alt)
                    .slide-item-content.col-8
                        p.text-black.m-0.fw-bolder.font-size-20= name
                        p
                            span
                                +rating("star", rates)
                            span.text-muted.font-size-14= ` ( ${solds} đánh giá )`
                        span.font-size-14= description
                        p.text-primary.text-viceroy.fw-bolder.m-0.pb-3.font-size-20= price
                        +purchase(url, "start")
