mixin blogItem(blogItem)
    - const { imgURL, alt, title, description, author, datetime, comments, url } = blogItem
    .col-lg-4.col-md-6.col-sm-12.col-12.blog-item.py-6
        .div-img-blog-item.mb-4
            img.w-100(src=imgURL, alt=alt)
        p.font-size-16.text-uppercase.fw-bold= title 
        +line 
        p.font-size-12.py-4= description 
        span.font-size-14
            i=`Bởi ${author} (${datetime})`
        +line
        .div.blog-item-footer.d-flex.justify-content-between
            a.text-grey.d-flex.align-items-center.text-decoration-none.font-size-14(href=url) Đọc thêm 
                i.fa.fa-caret-right.ms-2 
            span.font-size-14.text-grey= `${comments} bình luận`
