mixin details-content(detailsContentItem)
    - const { title, description, imageURL, alt, key } = detailsContentItem
    .row.details-content-1.py-6.align-items-center
        if(key%2!=0)
            .col-8
                p.text-muted.text-uppercase.fw-bold.font-size-16= title
                p.text-muted.font-size-14= description
            .col-4
                img.w-100(src=imageURL alt=alt)
        else
            .col-4
                img.w-100(src=imageURL alt=alt) 
            .col-8
                p.text-muted.text-uppercase.fw-bold.font-size-16= title
                p.text-muted.font-size-14= description
