mixin slideItems(listItem)
    - const { src, alt, brand_name, name, price } = listItem
    .product-item.slider-subtitle.col-lg-4.col-md-4.col-sm-6.col-12
        .slide-item-img.position-relative
            img(src=src, alt=alt)
        .slide-item-content.text-center.pt-4
            p.text-uppercase.text-grey.m-0= brand_name
            p.text-black.m-0= name
            p.text-primary.text-viceroy.fw-bolder.m-0= price
            .slide-item-cart.d-flex.justify-content-center
                a.btn-xs.text-decoration-none.text-uppercase.button_custom_buy.button_custom.white-space-nowrap.me-1.font-size-14 mua hàng
                button.btn.btn-xs.button_custom_favourite.button_custom.me-1
                    i.fa.fa-heart
                button.btn.btn-xs.button_custom.button_custom.button_custom_favourite
                    i.fa.fa-refresh
