mixin slideItems(listItem)
    - const { src, alt, brand_name, name, price, url } = listItem
    .product-item.slider-subtitle.col-lg-4.col-md-4.col-sm-6.col-12
        .slide-item-img.position-relative
            img(src=src, alt=alt)
        img(src=src, alt=alt)
        .slide-item-content.text-center.pt-4
            p.text-uppercase.text-grey.m-0= brand_name
            p.text-black.m-0= name
            p.text-primary.text-viceroy.fw-bolder.m-0= price
            +purchase(url, "center")
